@page "/"

<PageTitle>University Interactive Map</PageTitle>

<h1>University Interactive Map</h1>

<p>We created this interactive map because we understand how challenging it can be to navigate around campus.</p>
<p>Use this tool to find your way around our university facilities and locations.</p>